.Unit {
  background-color: red;
  border: solid 1px lightblue;
  /*width: 20px;*/
  /*height: 20px;*/
}

.selectedUnit {
  background-color: orange;
}

.selectorSelected {
  filter: brightness(150%);
}
.Archer {
  background-color: saddlebrown;
  width: 32px;
  height: 32px;
}

.Artillery {
  background-color: cadetblue;
  width: 32px;
  height: 32px;
}

.Infantry {
  background-color: darkolivegreen;
  width: 32px;
  height: 32px;
}

.unitSelector {
  display: inline-block;
  list-style: none;
}

.unitSelector li {
  float: left;
  padding: 2px;
  margin: 2px;
  border: solid 1px black;
}
