<div style="position: relative; height: 640px">
  <app-level></app-level>
  <div *ngFor="let unit of units" style="position: absolute; background-color: red; margin:0;padding:0"
       [ngClass]="[unit.isSelected() ? 'selectedUnit' : UnitType[unit.type]]"
       [style.width]="unit.width"
       [style.height]="unit.height"
       [style.left]="unit.posX"
       [style.top]="unit.posY">1
  </div>
</div>
<div style="position: relative">
  <button (click)="startGame()">Start Game!</button>
</div>
