<div style="position: relative; height: 640px">
  <level></level>
  <div *ngFor="let unit of units" style="position: absolute; margin:0;padding:0"
       [ngClass]="[unit.isSelected() ? 'selectedUnit' : UnitType[unit.type]]"
       [style.width]="unit.width"
       [style.height]="unit.height"
       [style.left]="unit.posX"
       [style.top]="unit.posY"
       (click)="onUnitClicked(unit)">
    {{unit.getName()}}
  </div>
</div>
<ul class="unitSelector">
  <li class="Archer" (click)="setUnitType(UnitType.Ranged)"
      [ngClass]="{'selectorSelected' : selectedUnitType == UnitType.Ranged}">A
  </li>
  <li class="Artillery" (click)="setUnitType(UnitType.Artillery)"
      [ngClass]="{'selectorSelected' : selectedUnitType == UnitType.Artillery}">M
  </li>
  <li class="Infantry" (click)="setUnitType(UnitType.Infantry)"
      [ngClass]="{'selectorSelected' : selectedUnitType == UnitType.Infantry}">I
  </li>
</ul>

<div style="position: relative">
  <button (click)="startGame()">Start Game!</button>
</div>

