.unitCard {
  width: 300px;
  height: 175px;

  margin: 8px;
  -webkit-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.45);
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.45);
}

.unitAvatar {
  width: 150px;
  height: 75px;
  float:left;
}

.unitHp {
  font-style: italic;
}

.unitName {
  text-align: center;
  font-weight: bold;
  padding-bottom: 8px;
}

.unitLevel {
  font-style: italic;

}

.unitLevelLabel {
  float: left;
  margin-right: 40px;
}

.unitHpLabel {
  float: left;
  margin-right: 4px;
}
