.Water {
  background-color: blue;
  border: solid 1px lightblue;
  /*width: 20px;*/
  /*height: 20px;*/
}

.Rock {
  background-color: saddlebrown;
  border: solid 1px lightblue;
  /*width: 20px;*/
  /*height: 20px;*/

}

.Grass {
  background-color: green;
  border: solid 1px lightblue;
  /*width: 20px;*/
  /*height: 20px;*/

}

.Wall {
  background-color: orange;
  border: solid 1px lightblue;
  /*width: 20px;*/
  /*height: 20px;*/

}

.Building {
  /*background-color: aqua;*/
  background-image: url("../../../assets/tower.png");

  /*width: 20px;*/
  /*height: 20px;*/
  border: solid 1px lightblue;
}

.tower {
}
.selectedTile {
  border: solid 2px black;
}

.pathed {
  filter: brightness(60%);
}
