.Water {
  background-color: #0b1489;
}

.Rock {
  background-color: #6e4c00;
}

.Grass {
  background-color: #039400;
}

.odd {
  filter: brightness(120%);
}

.even {
  /*filter: brightness(150%);*/
}

.FloatSam {
  background-color: #5d5944;
}

.Wall {
  background-color: #a65b0b;
}

.Building {
}

.tower {
}

.selectedTile {
  border: solid 2px black;
}

.pathed {
  filter: brightness(60%);
}
